@for $hojun from 1 through 7 {
  .photo-box-#{$hojun} {
    width: 100px;
    height: 100px;
    background-color: red;
    font-size: $hojun + px;
    // font-size: ($hojun)px;
  }
}

// 중괄호 없으면 에러 발생 : 클래스명으로 인식하고 클래스명은 $를 사용할 수 없음
